<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ycr.ssm">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="username" value="${jdbc.user}"></property>
        <property name="url" value="${jdbc.url}"></property>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--Mybatis核心配置文件路径-->
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <!--数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--类型别名对应的包-->
        <property name="typeAliasesPackage" value="com.ycr.ssm.pojo"></property>
    </bean>

    <!--mapper接口扫描,完成配置后可以直接在service层创建mapper接口的代理实现类对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ycr.ssm.mapper"></property>
    </bean>


</beans>