<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ycr.ssm.mapper.EmployeeMapper">

    <select id="getAllEmployee" resultType="Employee">
        select * from t_emp
    </select>

    <select id="getEmployeeById" resultType="Employee">
        select * from t_emp where emp_id = #{empId}
    </select>

    <update id="updateEmployee">
        update t_emp set emp_name = #{employee.empName},age = #{employee.age},sex = #{employee.sex},email = #{employee.email} where emp_id = #{employee.empId}
    </update>

    <insert id="insertEmployee">
        insert into t_emp(emp_id,emp_name,age,sex,email) values (null,#{employee.empName},#{employee.age},#{employee.sex},#{employee.email})
    </insert>

    <delete id="delEmployee">
        delete from t_emp where emp_id = #{empId}
    </delete>

</mapper>